.navbar {
  padding-left: 5rem;
  padding-right: 5rem;
}
.about-me {
  padding-top: 2rem;
}
.text-me {
  font-size: 1.5rem;
}
.my-img {
  height: 200px;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .panel {
    margin-top: 3rem;
  }
  .text-me {
    margin-top: 2rem;
  }
}
